<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roda<%= " - #{title.capitalize}" unless title == 'index' %></title>
    <link href='http://fonts.googleapis.com/css?family=Italianno' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/roda.css">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <a class="navbar-brand" href="index.html">Roda</a>
        <ul class="nav navbar-nav">
          <li><a href="why.html">Why</a></li>
          <li><a href="documentation.html">Documentation</a></li>
          <li><a href="development.html">Development</a></li>
        </ul>
      </div>
    </nav>
    <div class="container" id="content">
      <%= content %>
    </div>
  </body>
</html>
