<div class="container">
  <div class="col-md-6">
<pre><code class="ruby"># cat config.ru
require "roda"

class App < Roda
  route do |r|
    # GET / request
    r.root do
      r.redirect "/hello"
    end

    # /hello branch
    r.on "hello" do
      # Set variable for all routes in /hello branch
      @greeting = 'Hello'

      # GET /hello/world request
      r.get "world" do
        "#{@greeting} world!"
      end

      # /hello request
      r.is do
        # GET /hello request
        r.get do
          "#{@greeting}!"
        end

        # POST /hello request
        r.post do
          puts "Someone said #{@greeting}!"
          r.redirect
        end
      end
    end
  end
end

run App.freeze.app
</code></pre>
  </div>

  <div class="col-md-6 roda-features">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297.78 332.3" width="540" height="603">
      <defs>
        <style>
        .cls-1{fill:#066cb5;}
        .cls-1,.cls-2,.cls-3,.cls-4,.cls-5,.cls-6{fill-rule:evenodd;}
        .cls-2{fill:#298f2a;}
        .cls-3{fill:#83ba2f;}
        .cls-4{fill:#ec8b24;}
        .cls-5{fill:#db2c29;}
        .cls-6{fill:#892062;}
        .cls-7{font-size:12px;fill:#fff;}
        .cls-10,.cls-7{font-family:SegoeUI, Segoe UI;}
        .cls-10{font-size:9px;}
        </style>
      </defs>
      <title>Roda Features</title>
      <g id="Layer_2" data-name="Layer 2">
        <path class="cls-1" d="M2.21,0h99.27a2.22,2.22,0,0,1,2.21,2.21V3.33c0,1.56,2.68,3.72,4.24,3.72h32.45a9.23,9.23,0,0,1,9.21,9.21V58.14a.71.71,0,0,1-1.42,0V16.26a7.81,7.81,0,0,0-7.8-7.8H107.93c-1.56,0-4.24,2.24-4.24,3.8v1a2.22,2.22,0,0,1-2.21,2.21H2.21A2.22,2.22,0,0,1,0,13.31V2.21A2.22,2.22,0,0,1,2.21,0Z"/>
        <path class="cls-2" d="M2.21,109.39h99.27a2.22,2.22,0,0,1,2.21,2.21v1.12c0,1.56,2.68,3.72,4.24,3.72h32.45a9.23,9.23,0,0,1,9.21,9.21v41.88a.71.71,0,0,1-1.42,0V125.66a7.81,7.81,0,0,0-7.8-7.8H107.93c-1.56,0-4.24,2.24-4.24,3.8v1a2.22,2.22,0,0,1-2.21,2.21H2.21A2.22,2.22,0,0,1,0,122.7V111.6a2.22,2.22,0,0,1,2.21-2.21Z"/>
        <path class="cls-3" d="M2.21,218.78h99.27a2.22,2.22,0,0,1,2.21,2.21v1.12c0,1.56,2.68,3.72,4.24,3.72h32.45A9.23,9.23,0,0,1,149.6,235v41.88a.71.71,0,0,1-1.42,0V235a7.81,7.81,0,0,0-7.8-7.8H107.93c-1.56,0-4.24,2.24-4.24,3.8v1a2.22,2.22,0,0,1-2.21,2.21H2.21A2.22,2.22,0,0,1,0,232.09V221a2.22,2.22,0,0,1,2.21-2.21Z"/>
        <path class="cls-4" d="M295.57,54.7H196.3a2.22,2.22,0,0,0-2.21,2.21V58c0,1.56-2.68,3.72-4.24,3.72H157.39A9.23,9.23,0,0,0,148.18,71v41.88a.71.71,0,0,0,1.42,0V71a7.81,7.81,0,0,1,7.8-7.8h32.45c1.56,0,4.24,2.24,4.24,3.8v1a2.22,2.22,0,0,0,2.21,2.21h99.27A2.22,2.22,0,0,0,297.78,68V56.91a2.22,2.22,0,0,0-2.21-2.21Z"/>
        <path class="cls-5" d="M295.57,164.09H196.3a2.22,2.22,0,0,0-2.21,2.21v1.12c0,1.56-2.68,3.72-4.24,3.72H157.39a9.23,9.23,0,0,0-9.21,9.21v41.88a.71.71,0,0,0,1.42,0V180.35a7.81,7.81,0,0,1,7.8-7.8h32.45c1.56,0,4.24,2.24,4.24,3.8v1a2.22,2.22,0,0,0,2.21,2.21h99.27a2.22,2.22,0,0,0,2.21-2.21V166.3a2.22,2.22,0,0,0-2.21-2.21Z"/>
        <path class="cls-6" d="M295.57,273.48H196.3a2.22,2.22,0,0,0-2.21,2.21v1.12c0,1.56-2.68,3.72-4.24,3.72H157.39a9.23,9.23,0,0,0-9.21,9.21v41.88a.71.71,0,0,0,1.42,0V289.74a7.81,7.81,0,0,1,7.8-7.8h32.45c1.56,0,4.24,2.24,4.24,3.8v1A2.22,2.22,0,0,0,196.3,289h99.27a2.22,2.22,0,0,0,2.21-2.21v-11.1a2.22,2.22,0,0,0-2.21-2.21Z"/>
        <text class="cls-7" transform="translate(6.92 11.5)">Usability</text>
        <text class="cls-7" transform="translate(238.92 66.5)">Simplicity</text>
        <text class="cls-7" transform="translate(226.92 175.5)">Extensibility</text>
        <text class="cls-7" transform="translate(226.92 285.5)">Productivity</text>
        <text class="cls-7" transform="translate(6.92 121.06)">Reliability</text>
        <text class="cls-7" transform="translate(6.92 230.06)">Performance</text>
        <text class="cls-10" transform="translate(0.1 33.83)">
          <tspan x="0" y="0">Roda uses a routing tree.</tspan>
          <tspan x="0" y="10.8">At any point during routing,</tspan>
          <tspan x="0" y="21.6">it allows you to operate on the</tspan>
          <tspan x="0" y="32.4">current request.</tspan>
        </text>
        <text class="cls-10" transform="translate(0.1 142.83)">
          <tspan x="0" y="0">Roda supports and</tspan>
          <tspan x="0" y="10.8">encourages immutability.</tspan>
          <tspan x="0" y="21.6">Roda apps are designed to be</tspan>
          <tspan x="0" y="32.4">frozen in production.</tspan>
        </text>
        <text class="cls-10" transform="translate(0.1 253.83)">
          <tspan x="0" y="0">Roda is the one of the fastest</tspan>
          <tspan x="0" y="10.8">Ruby web frameworks.</tspan>
        </text>
        <text class="cls-10" transform="translate(194.6 87.83)">
          <tspan x="0" y="0">Roda is designed to be</tspan>
          <tspan x="0" y="10.8">simple, both internally</tspan>
          <tspan x="0" y="21.6">and externally, reducing</tspan>
          <tspan x="0" y="32.4">cognative overhead.</tspan>
        </text>
        <text class="cls-10" transform="translate(194.6 195.83)">
          <tspan x="0" y="0">Roda is built completely</tspan>
          <tspan x="0" y="10.8">out of plugins, which</tspan>
          <tspan x="0" y="21.6">makes it very extensible.</tspan>
        </text>
        <text class="cls-10" transform="translate(194.6 305.83)">
          <tspan x="" y="0">Roda makes it easy to</tspan>
          <tspan x="0" y="10.8">develop applications</tspan>
          <tspan x="0" y="21.6">quickly.</tspan>
        </text>
        <text>
        </text>
      </g>
    </svg>
  </div>
</div>

<h2>Comparison to <a href="http://www.sinatrarb.com">Sinatra</a></h2>

<p>Roda aims to take the ease of development and understanding that Sinatra brings, and enable it to scale to support the development of large web applications.  Both Roda and Sinatra share the following basic concepts:</p>

<ul>
<li>Routes are directly expressed, using a block based DSL.</li>
<li>The return value of the block is used as the response.</li>
<li>There is no separation between the view context and the route handling context.</li>
</ul>

<p>Some differences are listed below.</p>

<h3>Routing Tree</h3>

<p>The primary difference between Roda and Sinatra is that Roda uses a routing tree, while Sinatra uses a list of routes.  At any point in the routing tree, Roda allows you to operate on the current request.  If your URLs reflect your application architecture, this allows you to have DRYer code.  Let's examine code examples for a very simple app, implemented in both Roda and Sinatra:</p>

<div class="col-md-6">
Roda:
<pre><code class="ruby">require 'roda'

class App &lt; Roda
  plugin :render
  plugin :all_verbs

  route do |r|
    r.root do
      view :index
    end

    r.is 'artist', Integer do |artist_id|
      @artist = Artist[artist_id]
      check_access(@artist)

      r.get do
        view :artist
      end

      r.post do
        @artist.update(r['artist'])
        r.redirect
      end

      r.delete do
        @artist.destroy
        r.redirect '/'
      end
    end
  end
end
</code></pre>
</div>

<div class="col-md-6">
Sinatra:
<pre><code class="ruby">require 'sinatra/base'

class App &lt; Sinatra::Base
  get '/' do
    erb :index
  end

  get '/artist/:id' do
    @artist = Artist[params[:id].to_i]
    check_access(@artist)
    erb :artist
  end

  post '/artist/:id' do
    @artist = Artist[params[:id].to_i]
    check_access(@artist)
    @artist.update(params[:artist])
    redirect(request.path_info)
  end

  delete '/artist/:id' do
    @artist = Artist[params[:id].to_i]
    check_access(@artist)
    @artist.destory
    redirect '/' 
  end
end
</code></pre>
</div>

<p style="clear: both;">While the Roda code is slightly longer, it should be apparent that it is actually simpler.  Instead of setting the <span class="code">@artist</span> variable and checking that access is allowed in all three of the sinatra routes, the variables are set as soon as that branch of the tree is taken, and can be used in all routes under that branch.  This is why Roda is called a routing tree web toolkit.  This is a simplified example, but if you see this type of duplication in a lot of the Sinatra code you write, your app could probably be made simpler by converting to Roda.</p>

<h3>Faster</h3>

<p>In addition to being more maintainable, Roda's approach is also faster in general.   Sinatra routes requests by testing each of the stored routes against the current request, in order.  With Roda, once one branch of the tree matches, only routes inside that branch are considered, not any routes after that branch.  Roda also has support for a single route that dispatches to multiple branches via the multi_route and multi_run plugins.  For large applications, routing in Sinatra is roughly O(N), where N is the number of routes, while routing in Roda can be close to O(log N), depending on how you structure your routing tree.  For small applications, because Roda has lower per-request overhead, <a href="https://github.com/luislavena/bench-micro#requestssec">Roda is about 2.5 times faster than Sinatra</a>.</p>

<h3>Plugin System</h3>

<p>Another difference between Roda and Sinatra is that Roda has a very small core, with a plugin system modeled on <a href="http://sequel.jeremyevans.net">Sequel</a>'s.  All parts of Roda (class/instance/request/response) can be overridden by plugins and call super to get the default behavior.  This includes when plugins are applied to the Roda class itself (affecting all subclasses).  The reason Roda is referred to as a toolkit is that by using different combinations of plugins, you can build the routing tree web framework that meets your needs.<p>

<p>Many features that are built into Sinatra are shipped as plugins in Roda. This way they can easily be used if needed, but if you don't use them you don't pay the cost for loading them.  Near the top of the Roda example, you can see <span class="code">plugin :render</span>, which adds support for template rendering, and <span class="code">plugin :all_verbs</span>, which adds routing methods for all HTTP request methods.

<h3>Less Pollution</h3>

<p>Roda is very concerned about pollution.  In this case, pollution of the scope in which the route block operates.  Roda purposely limits the instance variables, methods, and constants available in the route block scope, so that it is unlikely you will run into conflicts.  If you've ever tried to use an instance variable named <span class="code">@request</span> inside a <span class="code">Sinatra::Base</span> subclass, you'll appreciate that Roda attempts to avoid polluting the scope.</p>

<h3>Immutable</h3>

<p>In production use, Roda applications are designed to be frozen (using the standard <span class="code">freeze</span> method), which freezes all internal datastructures (except thead-safe caches used at runtime).  This avoids possible thread-safety issues when using Roda.</p>
