<div class="col-md-6">
<pre><code class="ruby"># cat config.ru
require "roda"

class App < Roda
  use Rack::Session::Cookie, :secret => ENV['SECRET']

  route do |r|
    # GET / request
    r.root do
      r.redirect "/hello"
    end

    # /hello branch
    r.on "hello" do

      # GET /hello/world request
      r.get "world" do
        "Hello world!"
      end

      # /hello request
      r.is do
        # GET /hello request
        r.get do
          "Hello!"
        end

        # POST /hello request
        r.post do
          puts "Someone said hello!"
          r.redirect
        end
      end
    end
  end
end
</code></pre>
</div>

<div class="col-md-6">
  <div id="roda_tree">
    <h1 id="site_title">Roda</h1>
    <h2 id="site_subtitle">Routing Tree<br />Web Framework</h2>
  </div>
</div>

<p style="clear: both;">Roda is a new ruby web framework, allowing for fast and DRY code using a routing tree.  Find out <a href="why.html">why you should use it</a>.</p>
