nav.navbar.navbar-default a.navbar-brand, nav.navbar.navbar-default ul.nav > li > a, nav.navbar.navbar-default span.roda {
  color: white;
}

.roda {
  font-family: 'Italianno', cursive;
}

span.roda {
  color: black;
  font-size: 120%;
}

a.navbar-brand {
  padding-top: 20px;
  margin-right: 30px;
  font-size: 24px;
}
a.navbar-brand span.roda {
  font-size: 200%;
}

body #content a {
  color: #141;
  text-decoration: underline;
}
nav.navbar {
  background: #141;
}
body, p, h1, h2, h3, a {
  font-family: 'Open Sans', sans-serif;
}
body {
  background: #f6fff6;
}

.roda-features svg {
  margin-top: 100px;
}

.path, .code {
  background: white;
  padding: 3px 5px;
}

.path, .code, pre code {
  font-family: 'PT Mono', monospace;
  font-size: 14px;
}

body, p, li {
  font-size: 16px;
}
